@font-face {
    font-family: "lato-bold";
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: "lato-light";
    src: url(../fonts/Lato-Light.ttf);
}
@font-face {
    font-family: "lato";
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "lato-black";
    src: url(../fonts/Lato-Black.ttf);
}
@font-face {
    font-family: "Baskerville";
    src: url(../fonts/BaskervilleBT.ttf);
}

:root {
    --light-blue: rgb(241, 255, 255);
    --dark-green: rgb(19, 114, 119);
    --light-green: rgb(227, 246, 218);
    --basic-blue: rgb(50, 128, 170);
    --basic-green: rgb(114, 199, 46);
    
    --hover: #{adjust-hue(var(--dark-green), 45deg)};
}

#back-to-top {
    background-color: var(--dark-green);
    border-radius: 65px;
    bottom: 14px;
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
    color: var(--light-green);
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 22px;
    width: 40px;
    z-index: 9999;
}

#back-to-top::after {
    content: '▲';
    display: flex;
    justify-content: center;
    padding-left: 1px;
    padding-top: 5px;
}

body::-webkit-scrollbar {
    width: 12px;               
}
  
body::-webkit-scrollbar-track {
background: rgb(231, 255, 221);        
}

body::-webkit-scrollbar-thumb {
background-color: rgb(19, 142, 149);    
border-radius: 20px;     
border: 3px solid rgb(225, 254, 187);  
}

.logo {
    height: 60px;
}

.logo-icon {
    height: 40px;
}

.logo-link {
    height: 25px;
}

.logo-footer {
    height: 60px;
}

.bg-standard {
    background-color: rgb(241, 255, 255);
}

.bg-nav {
    background-color: rgb(19, 114, 119) !important;
}

.font-bold-standard {
    font-family: "lato-bold";
}

.image-self-tuning {
    object-fit: cover;
}

.text-presentation {
    font-size: 19px;
}

#Text{
    width: 40vw;
    font-family: "lato";
}

.b-style-1 {
    border: 3px inset rgb(19, 114, 119) !important;
}
.b-style-2 {
    border: 3px dashed rgb(19, 114, 119) !important;
}
.b-style-3 {
    border: 3px dotted rgb(19, 114, 119) !important;
}
.b-style-4 {
    border: 3px solid rgb(19, 114, 119) !important;
}
.b-style-5 {
    border: 3px groove rgb(19, 114, 119) !important;
}
.b-style-6 {
    border: 3px ridge rgb(19, 114, 119) !important;
}

.b-only-bottom{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.b-only-start{
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
}

#Text h3{
    background-color: rgb(227, 246, 218);
    font-family: "lato-black";
}

#topic-title {
    font-size: 40px !important;
    font-family: "lato-bold" !important;
    box-shadow: 6px 6px 0px rgb(19, 114, 119) !important;;
}

#reorganize-card{
    min-width: 270px;
    min-height: 360px;
}

.btn {
    color: var(--dark-green);
    font-family: "lato";
    font-weight: 600;
}

.btn:hover {
    background-color: var(--dark-green) !important;
    color: white !important;
    font-family: "lato" !important;
    font-weight: 600 !important;
}

.card {
    border: none;
    box-shadow: 1px 1px 10px gray;
}

.card-img-top {
    height: 150px !important;
}

.card:hover{
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}

#backquote {
    background-color: var(--light-green);
}

ul {
    list-style: none; 
  }
  
  ul li::before {
    content: "\2022";
    color: var(--dark-green); 
    display: inline-block; 
    font-weight: 600;
    width: 1em;
    margin-left: -1em; 
  }

 .link{
     color: var(--dark-green);
 }

 .link:hover {
     color:var(--basic-green);
 }

 .parceria {
     border-radius: 100%;
 }

@media (max-width: 800px) {
    #topic-title {
        font-size: 30px !important;
    }
}